{%extends 'vueMere.html.twig' %}
{% block body %}

<style type="text/css">
    #title{
        margin-left:3em;
        font-family: garamond;
        underline:true;
    }
    label
    {
	    width: 200px; /* Cette largeur sert d’exemple, vous pouvez la modifier si vous voulez. */
    }

</style>


<!-- mise en place des onglets -->
<div class="container" style="background-color: #F7F5F0">

    <div>

            <h3 id="title"> Connexion </h3>

    </div>

    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    <div>
        <form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
    <!--<input type="hidden" name="_csrf_token" value="{#{{ csrf_token }}#}" />-->

    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{% if last_username is defined %} {{ last_username }} {% endif %}" required="required" />

    <br/>

    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <br/>

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
    </div>

</div>
{% endblock %}
