{%extends 'vueMere.html.twig' %}

{% block body %}


{# On charge la bibliothèque jQuery #}
<script src="{{ asset('js/jquery.js')}}"></script>

<style type="text/css">
	#titre1{
	color:#F6EFD2;
	text-align:center;
	font-size:30px;
	font-family: garamond;
	background-color:#212524;
	text-decoration:none;
	border-color:#7D3232;
	border-width:25%;
	border-radius: 25px 10px / 10px 25px;
	border-radius: 25px 10px / 10px 25px;
	}
	.h5{
	text-align:center;
	font-size:20px;
	text-decoration:none;
	color:#7D3232;
	}
	#ptitle{
	padding:10px;
	color:black;
	text-align:center;
	font-style:italic;
	font-weight:bold;
	font-size:20px;
	font-family: georgia;
	text-shadow: 2px 2px #000;
	text-shadow: -1px 0 #151515, 1px 0 #151515, 0 1px #000, 0 -1px #151515;
	color: #fff;
	}
	.panel > .panel-heading {
	color: white;
	height:60px;
	}
	.panel{
	color: white;
	}
	.list-group-item {
	color: black;
	}
	
</style>

<div class="container" style="background-color: #F7F5F0">

	<form action="{{ path('narratio_web_oeuvres_ajouterOeuvre') }}" align="center" method = "post" {{ form_enctype(monForm)}}>
		
		<div class="panel panel-default">
  		<!-- Default panel contents -->
  			<div class="panel-heading" style="background-color:black; -webkit-filter:opacity(80%);">
  			<h3 id=ptitle align="center" class="panel-title" >Remplissez ce formulaire pour créer une nouvelle oeuvre</h3>
  			</div>
		
			<div class="panel-body">
				<!-- panel body -->    
				<div class="h5"><h5><b>Vous pourrez ajouter ses films et livres associés via la fiche de l'oeuvre !</b></h5></div>
				
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6" style="color:black;">
		<center><b>Nom de l'oeuvre : </b>{{form_widget(monForm.Nom)}}</center>
		      </div>
		      <div class="col-md-3"></div>
			</div>
			<br>
			
        		<div class="row">
        			
        			
        		    <div class="col-md-6" align="center">
        			
        				<ul class="list-group">
        				
        					<li class="list-group-item">
        		                <center><b>Genre : </b>{{form_widget(monForm.Genre)}}</center>
        		            </li>
        		                
        		            <li class="list-group-item">
        		                <center><b>Thematique : </b>{{form_widget(monForm.Thematique)}}</center>
        		            </li>
        				
        					<li class="list-group-item">
        						<center><b>Epoque : </b>{{form_widget(monForm.Epoque)}}</center>
        					</li>
        						
        					<li class="list-group-item">
        		                <center><b>Produits dérivés : </b>{{form_widget(monForm.ProduitDerive, { 'attr': { 'rows' : '10', 'cols' : '20' }})}}</center>
        		        	</li>
        		        	
        		        	<li class="list-group-item">
        		                <center><b>Image de l'oeuvre : </b>{{form_widget(monForm.Image)}}</center>
        		        	</li>
        		        
        		        </ul>
        		        
        			</div>
        			
        			<div class="col-md-6" align="center">
        			
        				<ul class="list-group">
        			
        					<li class="list-group-item">
        						<center><b>Tranche d'Age : </b>{{form_widget(monForm.TrancheAge)}}</center>
        					</li>
        			
        					<li class="list-group-item">
        		                <center><b>Concept de l'oeuvre : </b>{{form_widget(monForm.Concept, { 'attr': { 'rows' : '20', 'cols' : '30' }})}}</center>
        		            </li>
        		                
        		        </ul>
        		        
        			</div>
        		            
        		            
        		</div>
			
			</div>
			
			<div class="panel-footer">
				
				<center> <input name="action-type-oeuvre" value="Valider" type="submit" class="btn btn-warning" id="oeuvre"/> </center> 
				
			</div>
			
		</div>
			
	</form>


</div>


    
{% endblock %}


        			
