<style type="text/css">   

	#corps {
	background-color: #ffcc66;
    position:fixed;
    top:0;
    left:5%;
    width:15%;
    height:90%;
    z-index:100;
	font: Arial;
	overflow:scroll;
}

.list-group-item:link, .list-group-itema:visited, .list-group-item:hover, .list-group-item:active{
	text-decoration: none;
	background-color: #ffcc66;
	width:100%;
	border:0;
	font-size:1.5vh;
	height: 3.7vh;
}




</style>


<div class="well" id="corps">
    <h2 align="center"> Menu </h2><br/>
	<div class="inner-addon left-addon">
    	<i class="glyphicon glyphicon-zoom-in" align="center"></i>
    <input type="text" class="form-control" placeholder="Rechercher"/>
    </div>
    
    <p>
	<h4 align="center">Films<br/></h4>
	<h5>Liste des nouveautés</h5>
		{% for filmCourant in tabFilms %}
		<a href="{{path('narratio_web_oeuvres_oeuvreMenu', {'id':filmCourant.id})}}" class="list-group-item" > {{filmCourant.titre}} </a>
		{%else%}
		Aucune nouveauté
		{%endfor%}<br/>
		
		<h5>Les films les plus vus</h5>
		{% for filmCourant in tabFilmsVus %}
		<a href="{{path('narratio_web_oeuvres_oeuvreMenu', {'id':filmCourant.id})}}" class="list-group-item" > {{filmCourant.titre}} </a>
		{%else%}
		Aucune donnée
		{%endfor%}
		
	
	<h4 align="center">Livres<br/></h4>
	<h5>Liste des nouveautés</h5>
	
		{% for livreCourant in tabLivres %}
		<a href="{{path('narratio_web_oeuvres_oeuvreMenu', {'id':livreCourant.id})}}" class="list-group-item" > {{livreCourant.titre}} </a>
		{%else%}
		Aucune nouveauté
		{%endfor%}<br/>
		
		<h5>Les livres les plus lus</h5>
		{% for livreCourant in tabLivresLus %}
		<a href="{{path('narratio_web_oeuvres_oeuvreMenu', {'id':livreCourant.id})}}" class="list-group-item" > {{livreCourant.titre}} </a>
		{%else%}
		Aucune donnée
		{%endfor%}
	</p>
	
</div>