<div class="well">
    <h2 align="center"> Menu </h2><br/>
	<div class="inner-addon left-addon">
    	<i class="glyphicon glyphicon-zoom-in" align="center"></i>
    <input type="text" class="form-control" placeholder="Rechercher"/>
    </div>
    
	<h4 align="center">Films<br/></h4>
	<h5>Liste des nouveautés</h5>
		{% for filmCourant in tabFilms %}
		<a href="/film/{{filmCourant.id}}" class="list-group-item"> {{filmCourant.titre}} </a>
		{%else%}
		Aucune nouveauté
		{%endfor%}<br/>
		
		<h5>liste plus vus</h5>
		{% for oeuvreCourante in tabOeuvre %}
		<a href="/film/{{oeuvreCourante.id}}" class="list-group-item"> {{oeuvreCourante.nom}} </a>
		{%else%}
		Aucune nouveauté
		{%endfor%}
		
	
	<h4 align="center">Livres<br/></h4>
	<h5>Liste des nouveautés</h5>
	
		{% for livreCourant in tabLivres %}
		<a href="/livre/{{livreCourant.id}}" class="list-group-item"> {{livreCourant.titre}} </a>
		{%else%}
		Aucune nouveauté
		{%endfor%}
	liste plus lus<br/>
	
</div>