<style type="text/css">   

	#menu {
	color: #F7EFD2;
	background-color: #7D3232;
	text-align: center;
	font: Arial;
    /* position:fixed;
    top:0;
    left:5%;
    width:250px;
    height:80%;
    z-index:100;*/
}

.list-group-item:link, .list-group-itema:visited, .list-group-item:hover, .list-group-item:active{
	/*text-decoration: none;
	color: #F7EFD2;
	background-color: #332C2C;
	width:100%;
	border:0;
	font-size:1.5vh;
	height: 3.7vh; */
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}


/* --- Loupe dans la recherche --- */
/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  color: #332C2C;
  padding: 10px;
  border: none;
  border-color:none;
}


/* align icon */
.left-addon .glyphicon  { left:  0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }

</style>

<div class="panel panel-default">
  <div id=menu class="panel-heading">Menu</div>
  <div class="panel-body">
	
	<div class=row>
	<div class="col-lg-9">
		<form action="{{ path('narratio_web_oeuvres_homepage') }}" method="post">
			<center>
				<div class="ui-widget">
					{{form_widget(formulaireRechercheNominale.nom)}}
				</div>
	</div>
	<div class="col-lg-3">
		<button name="action-type" style="background-color: #7D3232; color: white;" value="Rechercher" type="submit" class="btn btn-default">
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		</button>
	</div>
			</center>
		</form>
   </div>
  
  
  
  <!-- Autocomplétion -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script>
  $(function() {
    var availableTags = [
    "Cyrano de Bergerac",
    "Divergente",
    "Hunger Games",
    "La face cachée de Margo",
    "La Guerre des Mondes",
    "Le Cercle des poètes disparus",
    "Le Hobbit",
    "Le Seigneur des Anneaux",
    "Nos Etoiles Contraires",
    "Le Crime de l'Orient-Express"
    ];
    $( "#form_nom" ).autocomplete({
      source: availableTags
    });
  });
    </script>
    
    
    <!-- Fin autocomplétion -->


<div class ="panel panel-default" >
	<div class= "panel-heading" style="background-color: #DED9B7;">
		Oeuvres les plus récentes
	</div>
		<div class="list-group">
			{% for oeuvreCourante in tabOeuvreNew %}
				<a href="{{path('narratio_web_oeuvres_oeuvreMenu', {'id':oeuvreCourante.id})}}" class="list-group-item"> {{oeuvreCourante.nom}} </a>
			{%else%}
				Aucune nouveauté
			{% endfor %}
		</div>
</div>
		
		
<div class ="panel panel-default">
	<div class= "panel-heading" style="background-color: #DED9B7;">
		Oeuvres les plus vues
	</div>
		<div class="list-group">
			{% for oeuvreCourante in tabOeuvreVues %}
				<a href="{{path('narratio_web_oeuvres_oeuvreMenu', {'id':oeuvreCourante.id})}}" class="list-group-item"> {{oeuvreCourante.nom}} </a>
			{%else%}
				Aucune donnée
			{%endfor%}
		</div>
</div>
    </div>
  </div>

