{%extends 'vueMere.html.twig' %}



{% block body %}


<style type="text/css">
   #titre1{
      color:#F6EFD2;
      text-align:center;
      font-size:30px;
      font-family: garamond;
      background-color:#212524;
      text-decoration:none;
      border-radius: 25px 10px / 10px 25px;
      border-radius: 25px 10px / 10px 25px;
   }
   
   
   .thumbnail {
      width: 250px;
      height: 175px;
      overflow: hidden;
   }
   
         #image1{
      border-radius: 35px;
      border-radius: 35px;
   }
   
   #Film{
      text-align:justify;
   }
   
   #aCentrer{
       text-align:center;
   }
   
   #prim {
    font-size: 20px;
    }

   
</style>

    <!-- mise en place des onglets -->
<div class="container" style="background-color: #F7F5F0">
    
<div class="row">
        
<div class="col-lg-1"></div>

    <div class="col-lg-10">
        
        
        <br>
            <div id=titre1>
               <span class="glyphicon glyphicon-film" aria-hidden="true" id="prim"></span>
               <b> Films</b>
            </div>
        <br>



        {% for FilmCourant in tabRes %}
            
    <!-- PANEL -->
    <div class="panel panel-default">
                <div class="panel-heading">
                   
                     <h3 align="center" class="panel-title">
                        <b>{{FilmCourant[0].titre}}</b>
                    </h3>
                    
                </div>
                
                <div class="panel-body">
                   
                     {{FilmCourant[0].synopsis}}
                     
                </div>
                
                <div class="panel-footer">
                   
                 <div class="col-sm-3" style="float:right" align="right">
                         <p id="aCentrer">
                          <b>Durée :</b> 
                          <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                          {{FilmCourant[0].duree}} min
                          <br>
                          
                          <br>
                          <b>Réalisateur :</b>
                          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                          {{FilmCourant[0].realisateur.label}}<br/>
                        </p>
                 </div>
                 
                 
                 <div class="col-sm-3" style="" align="left">
                    <p id="aCentrer">
                 
                 <b>Acteurs :</b>
                 <br>
                 
                 {%for acteurCourant in FilmCourant[0].acteurs%}
        
                          
                          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                          {{acteurCourant.label}}
                          <br>
                          
                          
                 {%endfor%}
                 </p>
                 </div>
                
                
                <div style="float:center" class="" align="center">
                      <a href="{{ path('narratio_web_oeuvres_voirOeuvre', {'id':FilmCourant[0].oeuvre.id}) }}" class="thumbnail">
                         <img id="images" src="{{FilmCourant[1].url}}" alt="Suggestions"></a>
                      </a>
                </div>
            
                
                </div>
        
        
    </div>
   
        {%else%}
        
            Erreur.
            
        {%endfor%}




<nav>
  <ul class="pager">
    <li><a href="#">Precedent</a></li>
    <li><a href="#">Suivant</a></li>
  </ul>
</nav>

    
    
    
    
    </div>


</div>

<div class="col-lg-1"></div>
    
</div>

{% endblock %}


