{%extends 'vueMere.html.twig' %}



{% block body %}
<!-- mise en place des onglets -->
<div class="container">
  <div class="col-sm-8">
  <h2>{{oeuvreLitt.nom}}</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Oeuvre">Oeuvre</a></li>
    <li><a data-toggle="tab" href="#Livre">Livres</a></li>
    <li><a data-toggle="tab" href="#Film">Films</a></li>
    <li><a data-toggle="tab" href="#Autre">Autres</a></li>
  </ul>
<!-- contenu du premier onglet -->

  <div class="tab-content">
    <div id="Oeuvre" class="tab-pane fade in active">
      <h3>Oeuvre</h3>
        <button>Editer</button> 
        <p>
                
            <br>
              Resume : {{oeuvreLitt.resume}}<br/>
              Vues : {{oeuvreLitt.compteurVues}}
            <br>
            <br>
        
        </p>
    </div>

<!-- contenu du second onglet -->
    <div id="Livre" class="tab-pane fade">
      <h3>Livre</h3>
      <button>Editer</button> 
        <p>
          {% for LivreCourant in oeuvreLitt %}
          <br/>
          Nom : {{LivreCourant.nom}}
          <br/>
          Resume: 
          {%else%}
          rien à afficher.
          {%endfor%}
        </p>
    </div>
    
<!-- contenu du troisieme onglet -->
    <div id="Film" class="tab-pane fade">
      <h3>Film</h3>
      <button>Editer</button> 
      <p>
        {% for FilmCourant in oeuvreCine %}
          nom:{{FilmCourant.titre}}
          <br/>
          Réalisateur : {{FilmCourant.realisateur}}
          <br/>
            {%for acteurCourant in FilmCourant.acteur%}
            Acteurs:{{acteurCourant}}
            {%endfor%}
          <br/>
          {%else%}
          rien à afficher.
        {%endfor%}
      </p>
    </div>

<!-- contenu du dernier onglet -->
    <div id="Autre" class="tab-pane fade">
      <h3>Autre</h3>
      <button>Editer</button> 
      {%for prodDer in oeuvreProd%}
      <p>
        {{oeuvreProd.nom}}
      </p>
      {%else%}
      rien à afficher.
      {%endfor%}
    </div>

<!-- liens vers les histoires qui correspondent aussi aux critères sélectionnés, A RENDRE DYNAMIQUE!!-->
{%for img in tabImages%}
  <img src="{{img.url}}" width=150px height=150px href="his voisines"/>
{%endfor%}

</div>
</div>

<!-- image générale de l'oeuvre -->
<div class="col-sm-4">
        
<img src="{{oeuvreImage}}" width=150px height=150px />
  
        <div class="well">
          
                Genre : {{oeuvreLitt.genre.intitule}}
               
    
        </div>
  
</div>

</div>
{% endblock %}
