{%extends 'vueMere.html.twig' %}



{% block body %}
<!-- mise en place des onglets -->
<div class="container">
  <div class="col-sm-8">
  <h2>{{oeuvreLitt.nom}}</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Oeuvre">Oeuvre</a></li>
    <li><a data-toggle="tab" href="#Livre">Livres</a></li>
    <li><a data-toggle="tab" href="#Film">Films</a></li>
    <li><a data-toggle="tab" href="#Autre">Autres</a></li>
  </ul>
<!-- contenu du premier onglet -->

  <div class="tab-content">
    <div id="Oeuvre" class="tab-pane fade in active">
      <h3>Oeuvre</h3>
        <button>Editer</button> 
        <p>
                
            <br>
              Resume : {{oeuvreLitt.resume}}<br/>
              Vues : {{oeuvreLitt.compteurVues}}
            <br>
            <br>
        
        </p>
    </div>

<!-- contenu du second onglet -->
    <div id="Livre" class="tab-pane fade">
      <h3>Livre</h3>
      <button>Editer</button> 
        <p>
         
          <br/>
          Nombre de livres parus :
          <br/>
          Liste des livres : {{oeuvreLitt.nom}}
        </p>
    </div>
    
<!-- contenu du troisieme onglet -->
    <div id="Film" class="tab-pane fade">
      <h3>Film</h3>
      <button>Editer</button> 
      <p>
        Ralisateur : {{oeuvreCine.realisateur.nom}}
        <br/>
        Nombre de films parus : {{oeuvreCine.nom}}
        <br/>
        Acteurs : {{oeuvreCine.nom}}
      </p>
    </div>

<!-- contenu du dernier onglet -->
    <div id="Autre" class="tab-pane fade">
      <h3>Autre</h3>
      <button>Editer</button> 
      <p>
        {{oeuvreProd.nom}}
      </p>
    </div>

<!-- liens vers les histoires qui correspondent aussi aux critères sélectionnés, A RENDRE DYNAMIQUE!!-->
  <img src="url pour les histoires voisines" href="his voisines"/>
  <img src="url pour les histoires voisines" href="his voisines"/>
  <img src="url pour les histoires voisines" href="his voisines"/>
  <img src="url pour les histoires voisines" href="his voisines"/>
  <img src="url pour les histoires voisines" href="his voisines"/>
</div>
</div>

<!-- image générale de l'oeuvre -->
<div class="col-sm-4">
        
<img src="http://i1.kwejk.pl/k/obrazki/2012/02/c53a32e508e229bbae079cac090ffe42.png" width=150px height=150px/>
  
        <div class="well">
          
                Genre : {{oeuvreLitt.genre.intitule}}
               
    
        </div>
  
</div>

</div>
{% endblock %}
