{%extends 'vueMere.html.twig' %}

{% block body %}
<style type="text/css">
   #titre1{
      color:#F6EFD2;
      text-align:center;
      font-size:30px;
      font-family: garamond;
      background-color:#212524;
      text-decoration:none;
      border-radius: 25px 10px / 10px 25px;
      border-radius: 25px 10px / 10px 25px;
   }
   
   #Oeuvre{
      text-align:justify;
   }
   
   #image1{
      border-radius: 35px;
      border-radius: 35px;
   }
   
</style>

    <!-- mise en place des onglets -->
<div class="container" style="background-color: #F7F5F0">
    <div class="row">
        <div class="col-lg-8"><br>
            <div id=titre1>{{ oeuvre.nom }}</div><br>
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a data-toggle="tab" href="#Oeuvre">L'Oeuvre</a></li>
                    <li><a data-toggle="tab" href="#Livre"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Livres</a></li>
                    <li><a data-toggle="tab" href="#Film"><span class="glyphicon glyphicon-film" aria-hidden="true"></span> Films</a></li>
                    <li><a data-toggle="tab" href="#Autre"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> Autres</a></li>
                </ul>

<!-- PREMIER ONGLET -->
    <div class="tab-content" >
        <div id="Oeuvre" class="tab-pane fade in active"><br>
              <br>{{oeuvre.concept}}<br/><br>
        </div>

<!-- DEUXIEME ONGLET -->
    <div id="Livre" class="tab-pane fade"><br/>
        {% for LivreCourant in tabLivres %}
            <b>{{LivreCourant.titre}}</b><br/>
            <i> {{LivreCourant.resume}}</i><br/><br>
            Auteur(s): <br>
        {%for auteurCourant in LivreCourant.auteur%}
            - {{auteurCourant.label}} <br>
        {%endfor%}
         Editeur: {{LivreCourant.editeur.nom}}<br>
        {%else%}
            rien à afficher.
        {%endfor%}
    </div>
    
<!-- TROISIEME ONGLET -->
    <div id="Film" class="tab-pane fade"><br/>
        {% for FilmCourant in tabFilms %}
            <b>{{FilmCourant.titre}}</b><br/>
            <i> {{FilmCourant.synopsis}} </i><br/>
            Réalisateur: {{FilmCourant.realisateur.label}}<br/>
            Acteurs: <br>
            {%for acteurCourant in FilmCourant.acteurs%}
            - {{acteurCourant.label}}<br>
            {%endfor%}<br/>
            {%else%}
            rien à afficher.
            {%endfor%}<br>
    </div>

<!-- QUATRIEME ONGLET -->
    <div id="Autre" class="tab-pane fade"><br>
        {{oeuvre.prodDer}}
    </div>
    </div>
    </div>

<!-- liens vers les histoires qui correspondent aussi aux critères sélectionnés, A RENDRE DYNAMIQUE!!-->
<!--  <img src="{# {img.url} #}" width=75 height=75 href="his voisines"/>
<!-- image générale de l'oeuvre -->

<!-- LATERAL: Image + Informations -->
    <div class="col-lg-4" style="background-color: #fff"><br><br>
        <center><img src="{{image.url}}" id=image1 width=350px /></center><br><br>
        <div class="well">
            <b>Genre :</b> {{oeuvre.genre.intitule}}<br><br>
            <b>Nombre de vues :</b> {{oeuvre.compteurVues}}
        </div>
    </div>
    </div><br><i>Autres suggestions...</i><br>

<!-- SUGGESTIONS -->
    <div class="row">
      <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
          <img src="" width=150px alt="Suggestion 1"/>
        </a>
      </div> 
      <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
          <img src="http://www.porcelaingres.fr/img/prodotti/collezioni/just_grey_mid_grey.jpg" width=150px alt="Suggestion 2"/>
        </a>
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
          <img src="http://www.porcelaingres.fr/img/prodotti/collezioni/just_grey_mid_grey.jpg" width=150px alt="Suggestion 3"/>
        </a>
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
          <img src="http://www.porcelaingres.fr/img/prodotti/collezioni/just_grey_mid_grey.jpg" width=150px alt="Suggestion 4"/>
        </a>
      </div>
      {%for imageCourante in tabImagesSuggestions %}
         <img src="" width=75 height=75 href="#"/>
      {%endfor%}
    </div>
</div>

{% endblock %}


