{%extends 'vueMere.html.twig' %}



{% block body %}


<style type="text/css">


   #titre1{
      color:#F6EFD2;
      text-align:center;
      font-size:30px;
      font-family: garamond;
      background-color:#212524;
      text-decoration:none;
      border-radius: 25px 10px / 10px 25px;
      border-radius: 25px 10px / 10px 25px;
   }
   
      #aCentrer{
       
       
       text-align:center;
       
       
   }
   
   .thumbnail {
      width: auto;
      height: auto;
      overflow: hidden;
      max-width:175px;
      max-height:175px;
   }
   
         #image1{
      border-radius: 35px;
      border-radius: 35px;
   }
   
   #Film{
      text-align:justify;
   }

   
</style>

    <!-- mise en place des onglets -->
<div class="container" style="background-color: #F7F5F0">
    
<div class="row">

    <div class="col-lg-12">
        
        
        <br>
            <div id=titre1>
               <b>Films</b>
            </div>
        <br>



        {% for FilmCourant in tabRes |slice(0, 4) %}
            
    <!-- PANEL -->
    <div class="panel panel-default">
                <div class="panel-heading">
                   
                     <h3 align="center" class="panel-title">
                        <b>{{FilmCourant[0].titre}}</b>
                    </h3>
                    
                </div>
                
                <div class="panel-body">
                   
                     {{FilmCourant[0].synopsis}}
                     
                </div>
                
                <div class="panel-footer">
                   
            <div class="col-sm-4" style="float:right" align="right" id="aCentrer">
                        
                          <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                          <b>Durée :</b> 
                          {{FilmCourant[0].duree}} min
                          <br>
                          
                          <br>
                          <b>Réalisateur :</b>
                          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                          {{FilmCourant[0].realisateur.label}}<br/>
                 
            </div>
                 
                 
            <div class="col-sm-4" style="" align="left" id="aCentrer">
                 
                 <b>Acteurs :</b>
                 <br>
                 
                 {%for acteurCourant in FilmCourant[0].acteurs%}
        
                          
                          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                          {{acteurCourant.label}}
                          <br>
                          
                          
                 {%endfor%}
                 
            </div>
                
                
            <div style="float:center" class="" align="center">
                      <a href="{{ path('narratio_web_oeuvres_voirOeuvre', {'id':FilmCourant[0].oeuvre.id}) }}" class="thumbnail">
                         <img id="images" src="{{FilmCourant[1].url}}" alt="Suggestions"></a>
                      </a>
            </div>
            
                
            </div>
        
        
    </div>
   
        {%else%}
        
            Erreur.
            
        {%endfor%}


{% if tabRes|length > 5 %}

{% set page = page + 1 %}

<nav>
  <ul class="pager">
    <li><a action="{{ path('narratio_web_oeuvres_oeuvreAvanceeFilms', {'page': page}) }}" href="#">Precedent</a></li>
    <li><a href="#">Suivant</a></li>
  </ul>
</nav>

{% endif %}

    
    
    
    
    </div>


</div>
    
</div>

{% endblock %}


