{%extends 'vueMere.html.twig' %}



{% block body %}


<style type="text/css">
   #titre1{
      color:#F6EFD2;
      text-align:center;
      font-size:30px;
      font-family: garamond;
      background-color:#212524;
      text-decoration:none;
      border-radius: 25px 10px / 10px 25px;
      border-radius: 25px 10px / 10px 25px;
   }
   
   #aCentrer{
       
       
       text-align:center;
       
       
   }
   

   #Livre{
      text-align:justify;
   }
   
      #image1{
      border-radius: 35px;
      border-radius: 35px;
   }
   
   .thumbnail {
      width: auto;
      height: auto;
      overflow: hidden;
      max-width:175px;
      max-height:175px;
   }
   
   
.pager li>a, .pager li>span {
    background-color: #212524;
    border:none;
    border-radius: 10px;
    font-size: 1.33em;
    font-family: garamond;
}a {
    color: #F6EFD2;
    text-decoration: none;
}a:hover {
  color: black;
  background-color: #212524;
  text-decoration: underline;
}
   

</style>

    <!-- mise en place des onglets -->
<div class="container" style="background-color: #F7F5F0">
    
<div class="row">

    <div class="col-lg-12">
        
        
        <br>
            <div id=titre1>
               <b>Livres</b>
            </div>
        <br>


{% for LivreCourant in tabRes|slice(0, 5) %}
        
        <div class="panel panel-default">
           <div class="panel-heading">
        
              <h3 align="center" class="panel-title">
                  <b>{{LivreCourant[0].titre}}</b><br/>
              </h3>
            </div>
            
            <div class="panel-body">
               
               {{LivreCourant[0].resume}}<br/>
            
            </div>
            
            <div class="panel-footer">
            
               <div class="col-sm-4" style="float:right" align="right" id="aCentrer">

                  <span class="glyphicon glyphicon-book" aria-hidden="true"></span> 
                  <b>Editeur :</b>
                  {{LivreCourant[0].editeur.nom}}
                  
               </div>
               
               <div class="col-sm-4"  style="" align="left" id="aCentrer">
                  
                     
                  <b>Auteur(s) :</b>
                  <br>
            
                  {%for auteurCourant in LivreCourant[0].auteur%}
                     <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                     {{auteurCourant.label}}
                  {%endfor%}
                  
               </div>
               
                
                <div style="float:center" class="" align="center">
                      <a href="{{ path('narratio_web_oeuvres_voirOeuvre', {'id':LivreCourant[0].oeuvre.id}) }}" class="thumbnail">
                         <img id="images" src="{{LivreCourant[1].url}}" alt="Suggestions"></a>
                      </a>
                </div>
            
                
               
               
            </div>
            
         </div>
            
        {%else%}
            Erreur.
         
        {%endfor%}


{% if tabRes|length > 5 %}

<nav>
  <ul id="pager" class="pager" action="{{ path('narratio_web_oeuvres_oeuvreAvanceeLivres', {'page': page, 'tabLivresIdBrut': tabLivresIdBrut, 'livresId': livresId}) }}" method="post" >
    {% if page > 0 %}
    <li><a name="action-type-livres" value="Precedent" type="submit" href="{{ path('narratio_web_oeuvres_oeuvreAvanceeLivres', {'page': page - 1, 'tabLivresIdBrut': tabLivresIdBrut, 'livresId': livresId}) }}">Precedent</a></li>
    {% endif %}
    <li><a name="action-type-livres" value="Suivant" type="submit" href="{{ path('narratio_web_oeuvres_oeuvreAvanceeLivres', {'page': page + 1, 'tabLivresIdBrut': tabLivresIdBrut, 'livresId': livresId}) }}">Suivant</a></li>
  </ul>
</nav>

{% endif %}


{% if tabRes|length <= 5 and page > 0 %}
<nav>
<ul id="pager" class="pager" action="{{ path('narratio_web_oeuvres_oeuvreAvanceeLivres', {'page': page, 'tabLivresIdBrut': tabLivresIdBrut, 'livresId': livresId}) }}" method="post" >
    <li><a name="action-type-livres" value="Precedent" type="submit" href="{{ path('narratio_web_oeuvres_oeuvreAvanceeLivres', {'page': page - 1, 'tabLivresIdBrut': tabLivresIdBrut, 'livresId': livresId}) }}">Precedent</a></li>
</ul>
</nav>
{% endif %}


    </div>


</div>
 
</div>

{% endblock %}


