{% extends "vueMere.html.twig" %}





{% block body %}




<style>
    
    
    a {
      
      color : #7D3232;
      
   }
   
   a:hover {
      
      color : #7D3232;
      
   }

   .nav-tabs>li.active>a{
      color: black;
   }
    
    #Film{
      text-align:justify;
   }
   
   #Livre{
      text-align:justify;
   }
   
   
   
  .full-width-tabs > ul.nav.nav-tabs {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.full-width-tabs > ul.nav.nav-tabs > li {
    float: none;
    display: table-cell;
}
.full-width-tabs > ul.nav.nav-tabs > li > a {
    text-align: center;
}
   
    
</style>

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
{% else %}
    {% render "FOSUserBundle:Security:login" %}
{% endif %}



<!-- Ligne 1 -->
<div class="row">
    <div class="col-lg-12" align="center">
        <div class="panel-heading" align="center"> <h3> Sélection des critères de recherche avancée</h3></div>
    </div>
</div>
    




<!-- mise en place des onglets -->
<div class="container" style="background-color: #F7F5F0">
  <div class="col-lg-12 tabbable full-width-tabs">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Film"><span class="glyphicon glyphicon-film" aria-hidden="true"></span><b> Films</b></a></li>
    <li><a data-toggle="tab" href="#Livre"><span class="glyphicon glyphicon-book" aria-hidden="true"></span><b> Livres</b></a></li>
  </ul>
  
  <div class="tab-content">
      
      <!-- contenu du premier onglet : FILMS -->
        <div id="Film" class="tab-pane fade in active">
            <p>

      <!-- contenu du premier onglet -->
                        <form action="{{ path('narratio_web_oeuvres_rechercheAvancee', {'page': page}) }}" align="center" method = "post" {{ form_enctype(formFilms)}}>
            
                        <!-- Ligne 2 -->    
                        <div class="row">          
                                    {#form_widget(createurFormulaire)#}
                                    <br><br>
                                    <div class="col-sm-4" align="center">
                                        <div style='float:left;' align="center"></div><center><b>Tranche d'Age : </b>{{form_widget(formFilms.TrancheAgeF)}}</center>
                                    </div>
                                    <div class="col-sm-4" align="center">
                                        <div style='float:left;' align="center"></div><center><b>Epoque : </b>{{form_widget(formFilms.EpoqueF)}}</center>
                                    </div>
                                    <div class="col-sm-4" align="center">
                                        <div style='float:left;' align="center"></div><center><b>Genre : </b>{{form_widget(formFilms.GenreF)}}</center>
                                    </div>
                        </div>
                        
                        <!-- Ligne 3 --> 
                        <div class="row">
                                    <br><br><br>
                                    <div class="col-sm-6" align="center">
                                        <center>
                                            <div style='float:left;'></div><b>Thématique : </b>{{form_widget(formFilms.ThematiqueF)}}
                                        </center>
                                    </div>
                                    
                                    <div class="col-sm-6" align="center">
                                        <center>
                                            <div style='float:left'></div><b>Type : </b>{{form_widget(formFilms.Type)}}
                                        </center>
                                    </div>
                        </div>
                                    
                        
                        <!-- Ligne 4 --> 
                        <div class="row">
                                    <br><br><br>
                                        <div class="col-sm-6">
                                            <center>
                                                <div style='float:left;'></div><b>Acteurs : </b>{{form_widget(formFilms.Acteur)}}
                                            </center>
                                        </div>
                                    
                                    
                                    <div class="col-sm-6">
                                        <center>
                                            <div style='float:left;'></div><b>Réalisateurs : </b>{{form_widget(formFilms.Realisateur)}}
                                        </center>
                                    </div>
                        </div>
                        
                        <br><br><br>
                        <!-- Ligne 5 --> 
                        <div class="row">
                            
                                       <center> <input name="action-type-films" value="Rechercher" type="submit" class="btn btn-warning" id="film"/> </center> 
                                       <br>
                                       <br>
                        </div>
        </form>

            
            </p>
        
        
        
        </div>
    
    <!-------------------------------------------------------------------------------------------------------------------------------------->
    
      <!-- contenu du second onglet: LIVRES -->
        <div id="Livre" class="tab-pane fade">
            <p>
                <form action="{{ path('narratio_web_oeuvres_rechercheAvancee') }}" align="center" method = "post" {{ form_enctype(formLivres)}}>
                        <!-- Ligne 2 -->    
                        <div class="row">          
                                    {#form_widget(createurFormulaire)#}
                                    <br><br>
                                    <div class="col-sm-4" align="center">
                                        <div style='float:left;' align="center"></div><center><b>Tranche d'Age : </b>{{form_widget(formLivres.TrancheAgeL)}}</center>
                                    </div>
                                    <div class="col-sm-4" align="center">
                                        <div style='float:left;' align="center"></div><center><b>Epoque : </b>{{form_widget(formLivres.EpoqueL)}}</center>
                                    </div>
                                    <div class="col-sm-4" align="center">
                                        <div style='float:left;' align="center"></div><center><b>Genre : </b>{{form_widget(formLivres.GenreL)}}</center>
                                    </div>
                        </div>
                        
                        <!-- Ligne 3 --> 
                        <div class="row">
                                    <br><br><br>
                                    
                                    <div class="col-sm-4" align="center">
                                        <center>
                                            <div style='float:left'></div><b> Auteur : </b>{{form_widget(formLivres.Auteur)}}
                                        </center>
                                    </div>
                                    
                                    <div class="col-sm-4" align="center">
                                        <center>
                                            <div style='float:left;'></div><b>Thématique : </b>{{form_widget(formLivres.ThematiqueL)}}
                                        </center>
                                    </div>
                                    
                                    <div class="col-sm-4" align="center">
                                        <center>
                                            <div style='float:left'></div><b> Editeur : </b>{{form_widget(formLivres.Editeur)}}
                                        </center>
                                    </div>
                        </div>
                                    
                        
                        <br><br><br>
                        <!-- Ligne 5 --> 
                        <div class="row">
                            
                                       <center> <input name="action-type-livres" value="Rechercher" type="submit" class="btn btn-warning" id="livre"/> </center> 
                                       <br>
                                       <br>
                        </div>
        </form>

                    

            
            </p>
        
        
        
        </div>
    
    
    
    
    
    
    
    </div>
    </div>
      
    <!-- Footer des onglets -->  
    
    
    
    
    
    
    
</div>







{% endblock %}